aiofiles==23.1.0
aiosmtplib==2.0.2
alembic==1.11.1
asyncpg==0.27.0
celery[redis]==5.3.1
pydantic[email]=^1.10.12
fastapi=^0.95.2
httpx=^0.24.1
passlib=^1.7.4
psycopg2-binary=^2.9.6
Pyrogram==2.0.106
python-jose==3.3.0
python-multipart==0.0.6
SQLAlchemy=^2.0.15
TgCrypto==1.2.5
uvicorn[standart]==0.22.0
